# Configurações do Serviço de E-mail
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=seu-usuario-mailtrap
MAIL_PASS=sua-senha-mailtrap

# Segredo para o JWT
JWT_SECRET=SEU_SEGREDO_SUPER_SECRETO_PARA_JWT